# SSH Configuration file
# Classification (U)
# Unclassified until filled.
username = "USERNAME"
password = "USER_PASSWD"
host = "SERVER_NAME"
port = 22
# Log_File -> Directory path to where the Paramiko log file is being written to.
log_file = "DIRECTORY_PATH/paramiko.log"
